<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_circle_tcs_aquamarine.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,703},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>img_circle_tcs_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,538},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>img_circle_tcs_brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,512},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>img_circle_tcs_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,720},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>img_circle_tcs_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,720},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>img_circle_tcs_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,347},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>img_circle_tcs_tomato.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,182},{164,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,163}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>img_circle_tcs_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,194},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>img_eat10_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,930},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat11_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,953},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat12_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,884},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat13_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,281},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat14_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,907},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat1_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat2_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,884},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat3_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,205},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat4_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,258},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat5_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat6_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,884},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat7_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,182},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat8_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,235},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eat9_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>img_eyes_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{178,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,119}}</string>
                <key>sourceSize</key>
                <string>{178,119}</string>
            </dict>
            <key>skin_corpse_body1_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{258,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,190}}</string>
                <key>sourceSize</key>
                <string>{258,190}</string>
            </dict>
            <key>skin_corpse_body2_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,365},{169,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,170}}</string>
                <key>sourceSize</key>
                <string>{169,170}</string>
            </dict>
            <key>skin_corpse_head_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,231}}</string>
                <key>sourceSize</key>
                <string>{229,231}</string>
            </dict>
            <key>skin_corpse_tail_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,194},{187,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,144}}</string>
                <key>sourceSize</key>
                <string>{187,144}</string>
            </dict>
            <key>skin_rabbit_body1_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,183},{163,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,180}}</string>
                <key>sourceSize</key>
                <string>{163,180}</string>
            </dict>
            <key>skin_rabbit_body2_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,538},{181,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,180}}</string>
                <key>sourceSize</key>
                <string>{181,180}</string>
            </dict>
            <key>skin_rabbit_head_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{220,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{220,200}</string>
            </dict>
            <key>skin_rabbit_tail_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,182},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>skin_star_body1_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,359},{185,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,177}}</string>
                <key>sourceSize</key>
                <string>{185,177}</string>
            </dict>
            <key>skin_star_body2_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,519},{185,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,177}}</string>
                <key>sourceSize</key>
                <string>{185,177}</string>
            </dict>
            <key>skin_star_body3_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,340},{185,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,177}}</string>
                <key>sourceSize</key>
                <string>{185,177}</string>
            </dict>
            <key>skin_star_body4_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{185,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,177}}</string>
                <key>sourceSize</key>
                <string>{185,177}</string>
            </dict>
            <key>skin_star_body5_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{185,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,177}}</string>
                <key>sourceSize</key>
                <string>{185,177}</string>
            </dict>
            <key>skin_star_hand_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{187,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,179}}</string>
                <key>sourceSize</key>
                <string>{187,179}</string>
            </dict>
            <key>skin_tree_body1_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,831},{152,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,149}}</string>
                <key>sourceSize</key>
                <string>{152,149}</string>
            </dict>
            <key>skin_tree_body2_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,677},{152,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,149}}</string>
                <key>sourceSize</key>
                <string>{152,149}</string>
            </dict>
            <key>skin_tree_head_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{246,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,208}}</string>
                <key>sourceSize</key>
                <string>{246,208}</string>
            </dict>
            <key>skin_tree_tail_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,705},{178,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,124}}</string>
                <key>sourceSize</key>
                <string>{178,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tcs_skins.png</string>
            <key>size</key>
            <string>{990,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24889f3d5d23d7f780bcf17d88a12c8f:5d480ee9d980b3077b26bc12ade7a747:4d8a6fec5de49dddefabfbf5aac03861$</string>
            <key>textureFileName</key>
            <string>tcs_skins.png</string>
        </dict>
    </dict>
</plist>
