<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_check1_rank_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,882},{146,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,72}}</string>
                <key>sourceSize</key>
                <string>{146,72}</string>
            </dict>
            <key>bg_check2_rank_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,736},{169,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,76}}</string>
                <key>sourceSize</key>
                <string>{169,76}</string>
            </dict>
            <key>bg_coin_infor_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,554},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>bg_content_nor_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,956},{107,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>bg_detail_item_tcs_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,332},{220,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,201}}</string>
                <key>sourceSize</key>
                <string>{220,201}</string>
            </dict>
            <key>bg_endf_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,254}}</string>
                <key>sourceSize</key>
                <string>{640,254}</string>
            </dict>
            <key>bg_loading_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,813},{60,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,34}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>bg_music_off_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,956},{144,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,49}}</string>
                <key>sourceSize</key>
                <string>{144,49}</string>
            </dict>
            <key>bg_music_on_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,956},{144,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,49}}</string>
                <key>sourceSize</key>
                <string>{144,49}</string>
            </dict>
            <key>bg_nickname_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1021},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>bg_rank_item_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1083},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>bg_rank_normal_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1102},{99,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,61}}</string>
                <key>sourceSize</key>
                <string>{99,61}</string>
            </dict>
            <key>bg_rank_num1_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,849},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>bg_rank_num2_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1112},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>bg_rank_num3_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,904},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>bg_rank_self_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1102},{99,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,61}}</string>
                <key>sourceSize</key>
                <string>{99,61}</string>
            </dict>
            <key>bg_skin_name_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,946},{149,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,27}}</string>
                <key>sourceSize</key>
                <string>{149,27}</string>
            </dict>
            <key>bg_title_main_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,654},{134,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,73}}</string>
                <key>sourceSize</key>
                <string>{134,73}</string>
            </dict>
            <key>bg_title_normal_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1021},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{96,60}</string>
            </dict>
            <key>bg_top_check_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1000},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>bg_top_checked2_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,944},{164,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,41}}</string>
                <key>sourceSize</key>
                <string>{164,41}</string>
            </dict>
            <key>bg_top_checked_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,946},{164,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,41}}</string>
                <key>sourceSize</key>
                <string>{164,41}</string>
            </dict>
            <key>btn_back_blue_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1060},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_back_home_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,735},{47,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,65}}</string>
                <key>sourceSize</key>
                <string>{47,65}</string>
            </dict>
            <key>btn_box_foc_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,956},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_box_nor_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,691},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_close_blue_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1044},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>btn_ctrl_ball2_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,736},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>btn_ctrl_ball_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,975},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_ctrl_box_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,760},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>btn_end_back_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1055},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>btn_end_replay_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1060},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>btn_green_shop_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,554},{168,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,64}}</string>
                <key>sourceSize</key>
                <string>{168,64}</string>
            </dict>
            <key>btn_hit2_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,554},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>btn_hit_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,729},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>btn_main_ranl_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,332},{251,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,213}}</string>
                <key>sourceSize</key>
                <string>{251,213}</string>
            </dict>
            <key>btn_main_rule_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,956},{42,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,65}}</string>
                <key>sourceSize</key>
                <string>{42,65}</string>
            </dict>
            <key>btn_main_set_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,623},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>btn_main_skin_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,547},{211,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,230}}</string>
                <key>sourceSize</key>
                <string>{211,230}</string>
            </dict>
            <key>btn_quite_game_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,760},{172,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,57}}</string>
                <key>sourceSize</key>
                <string>{172,57}</string>
            </dict>
            <key>btn_red_shop_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,880},{168,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,64}}</string>
                <key>sourceSize</key>
                <string>{168,64}</string>
            </dict>
            <key>btn_yellow_shop_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,814},{168,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,64}}</string>
                <key>sourceSize</key>
                <string>{168,64}</string>
            </dict>
            <key>icon_coin_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,958},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>icon_diamond_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,508},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>icon_habit_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1110},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>icon_king2_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1082},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>icon_king3_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1044},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>icon_king_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1081},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>icon_man_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1008},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>icon_music_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,885},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>icon_plus_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1137},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>icon_voice_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,814},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>img_avarar_ii_ycs.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,975},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>img_avatar_mask_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,946},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>img_bg_set_tips_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,258},{394,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,134}}</string>
                <key>sourceSize</key>
                <string>{394,134}</string>
            </dict>
            <key>img_bobble_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,942},{105,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,77}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>img_btn_green_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,286},{220,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,77}}</string>
                <key>sourceSize</key>
                <string>{220,77}</string>
            </dict>
            <key>img_btn_yellow_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,722},{220,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,77}}</string>
                <key>sourceSize</key>
                <string>{220,77}</string>
            </dict>
            <key>img_end_title_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,258},{462,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,96}}</string>
                <key>sourceSize</key>
                <string>{462,96}</string>
            </dict>
            <key>img_line_title_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,258},{1,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,70}}</string>
                <key>sourceSize</key>
                <string>{1,70}</string>
            </dict>
            <key>img_loading_bar_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,258},{686,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,20}}</string>
                <key>sourceSize</key>
                <string>{686,20}</string>
            </dict>
            <key>img_main_avatar_mask_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1066},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>img_title_skin_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{282,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,74}}</string>
                <key>sourceSize</key>
                <string>{282,74}</string>
            </dict>
            <key>img_white_circle_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1023},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>line_set_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1151},{191,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,2}}</string>
                <key>sourceSize</key>
                <string>{191,2}</string>
            </dict>
            <key>main_play_blend_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{367,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,458}}</string>
                <key>sourceSize</key>
                <string>{367,458}</string>
            </dict>
            <key>main_play_infinite_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{367,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,431}}</string>
                <key>sourceSize</key>
                <string>{367,431}</string>
            </dict>
            <key>tips_img_3_tcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{426,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,328}}</string>
                <key>sourceSize</key>
                <string>{426,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tcs_plist.png</string>
            <key>size</key>
            <string>{1165,1165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfc80de6248df4639c44e71190479acd:dd965116d05c7c56a942deb22d48d85c:8d227e2ca2fa255b49ed482ccd7c5159$</string>
            <key>textureFileName</key>
            <string>tcs_plist.png</string>
        </dict>
    </dict>
</plist>
